/**
 * 主题变量入口文件
 * 创建日期: 2024-06-30
 * 作者: aiftt
 * 更新日期: 2024-12-16 - 删除单独的组件主题文件，使用公共主题文件
 */

@use 'base.scss';
@use 'light.scss';
@use 'dark.scss';
@use 'code.scss';

// 导出一些公共变量，便于JavaScript访问
:export {
  // 主色
  colorPrimary: var(--ui-color-primary);

  // 状态颜色
  colorSuccess: var(--ui-color-success);
  colorWarning: var(--ui-color-warning);
  colorError: var(--ui-color-error);
  colorInfo: var(--ui-color-info);

  // 中性色
  colorText: var(--ui-color-text);
  colorBg: var(--ui-color-bg);
}
